<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>localVideow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30EAA6BA1C8EB61500C4FEBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30EAA6CE1C8EB61500C4FEBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30EAA6D91C8EB61500C4FEBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
